 @import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

* {
  font-family: "Nunito", sans-serif;
}

body {
  background: #c9c9c9;
}

a{
  text-decoration: none;
}

.container {
  margin: auto;
  width: 45%;
  padding: 10px;
}

.row-post{
  padding: 17px 14px;
  background: #ffffff;
}

.col-post {
  display: flex;
  flex-direction: row;
  align-items: stretch;
}


.img-profile {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.profile-post{
  flex-grow: 8;
  margin-left: 10px;
}

.name-frofile-post{
  color: deepskyblue;
  font-size: 18px;
}

.status-post{
  font-size: 16px;
  color: black;
}

.time-post{
  margin-top: 5px;
  font-size: 14px;
  color: darkgrey;
}

.btn-menu{
  flex-grow: 1;
}

.content-body{
  margin-top: 24px;
}

.text-content{
  font-size: 16px;
}

.img-content{
  width: 100%;
}

.i-like{
  color: darkgrey;
  font-size: small;
  margin-top: 16px;
}

.i-share{
  color: darkgrey;
  font-size: small;
  margin-left: 16px;
  margin-top: 16px;
}

.text-icon{
  color: darkgrey;
  font-size: small;
  margin-left: 8px;
}

.row-comments {
  padding: 17px 14px;
  background: #f1f1f1;
  margin-bottom: 100px;
}

.main-title{
  font-size: 14px;
}

.col-comments{
  display: flex;
  flex-direction: row;
  align-items: stretch;
  margin-top: 24px;
}

.comments-post{
  margin-left: 10px;
}

.profile-comments-post{
  font-size: 14px;
}

.time-comments{
  color: darkgrey;
}

.comments{
  margin-top: 3px;
  font-size: 12px;
  text-align: justify;
  text-justify: auto;
}

.reply{
  color: deepskyblue;
  font-size: 11px;
}

.i-flag{
  color: darkgrey;
  font-size: 11px;
  margin-left: 14px;
}

.col-input{
  display: flex;
  flex-direction: row;
  align-items: stretch;
  margin-top: 24px;
}

.input-comments{
  padding: 8px;
  flex-grow: 8;
  margin-left: 10px;
}

button{
  border: none;
  background: deepskyblue;
  color: #ffffff;
  padding: 6px 10px;
  margin-left: 54px;margin-top: 8px;

}

